<div class="jumbotron bg-white text-center">
  <h1 class="display-4">Covid-19 Tracker</h1>
  <hr> 
  <app-dashboardcards [totalConfirmed]='totalConfirmed' 
  [totalActive]='totalActive' [totalRecovered]='totalRecovered' 
  [totalDeaths]='totalDeaths'></app-dashboardcards>
</div>
<hr>
<div class="ui form">
  <div class="inline fields">
    <label for="fruit">Select case type:</label>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" value="c" id="c" #c (click)='updateChart(c)' name="caseType" checked="" tabindex="0" class="hidden">
        <label for='c'>CONFIRMED</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" value="r" #r (click)='updateChart(r)' id="r" name="caseType" tabindex="0" class="hidden">
        <label for="r">RECOVERED</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" value="d" #d (click)='updateChart(d)' id="d" name="caseType" tabindex="0" class="hidden">
        <label for="d">DEATHS</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" value="a" #a (click)='updateChart(a)' id="a" name="caseType" tabindex="0" class="hidden">
        <label for="a">ACTIVE</label>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col">
        <google-chart [type]='chart.PieChart' [options]='chart.options' style="width: 100%;" [height]='chart.height' [data]='datatable'></google-chart>
    </div>
    <div class="col">
        <google-chart [type]='chart.ColumnChart' style="width: 100%;" [options]='chart.options' [height]='chart.height' [data]='datatable'></google-chart>
    </div>
    <!-- 
    <div class="col">
        <google-chart [type]='chart.LineChart' style="width: 100%;" [options]='chart.options' [height]='chart.height' [data]='datatable'></google-chart>
    </div> -->
</div>



